/* ----------------------> google fonts CDN <------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* ----------------------> Global settings <------------------------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -----------> Share Variable <-------------------- */
:root{
    --noto-serif-font: "Noto Serif", serif;
    --inter-font: "Inter", sans-serif;
    --paragraph-text-color: #0000007d;
    --primary-text-color: #E95A08;
    --hading-text-color: #000000;
    --button-bg-color: #E95A08;
    --card-text-color: #111111;
}

/* ----------------------> body  style <------------------------ */
body{
background-color: #f5f8ff;
}
/* ----------------------> header Section Style <------------------------ */
header{
    max-width: 90rem;
    height: auto;
    margin: 0 auto;
}

/* ----------------------> navBar  Section Style <------------------------ */
.navBar{
    max-width: 77.5rem;
    height: auto;
    margin: 1.9rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar a{
    text-decoration: none;
}
.navBar a img{
    width: 8rem;
    height: auto;
    object-fit: cover;
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.nav-links{
 list-style-type: none;
}
.nav-Anchor{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--hading-text-color);
    font-family: var(--inter-font);
    
}
.nav-Anchor-gray{
    color: var(--paragraph-text-color);
}
.nav-cart{
    font-weight: 300;
}
.nav-cart i{
    transition: color 0.6s ease-out;
}
.nav-cart i:hover{
    color: var(--primary-text-color);

}
/* ----------------------> Banner  Section Style <------------------------ */
.Banner-hero-container{
    max-width: 77.5rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 8rem;
}
.banner-text-content h1{
    font-size: 4rem;
    font-weight: bold;
    font-family: var(--noto-serif-font);
    color: var(--hading-text-color);
}
.banner-primary-text{
    color: var(--primary-text-color);
}
.banner-description{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--inter-font);
    color: var(--paragraph-text-color);
    max-width: 39rem;
    margin-top: 0.7rem;
}
.banner-image-content img{
    width: 35rem;
    height: 22rem;
}
/* ----------------------> main Section Style <------------------------ */
main{
    max-width: 90rem;
    height: auto;
    margin: 0 auto;
}
/* ----------------------> Our Plants Section Style <------------------------ */
.our-plants-container{
    max-width: 77.5rem;
    margin: 0 auto;
    height: auto;
    padding: 6rem 0rem;
}
.our-plants-title{
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-text-color);
    font-family: var(--noto-serif-font);
    text-align: center;
}
.plants-title-primary{
    color: var(--hading-text-color);
}
.our-plants-description{
    font-size: 1.2rem;
    font-family: var(--inter-font);
    color: var(--paragraph-text-color);
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
}
.card-inner-continer{
    max-width: 77.5rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    text-align: center;
    gap: 1.2rem;
    padding-top: 2rem;
    place-items: center;
}
.card{
    max-width: 18.5rem;
    height: auto;
}
.card img{
    width: 18.5rem;
    height: 20rem;
}
.card h1{
    font-size: 1.3rem;
    font-family: var(--inter-font);
    color: var(--card-text-color);
    font-weight: 400;
    margin-top: 0.7rem;
}
.card h2{
    font-size: 1.3rem;
    font-family: var(--inter-font);
    font-weight: bold;
    color: var(--hading-text-color);
    margin-top: 0.5rem;
}
.card-btn{
    padding: 0.8rem 0rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--inter-font);
    color: white;
    background-color: var(--button-bg-color);
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1.5rem;
    transition:  background-color 1.2s ease-in;
}
.card-btn:hover{
    background-color: #000000;
}
/* ---------------------->Plants Lover Section Style <------------------------ */
.Plants-Lover-container{
 max-width: 77.5rem;
 margin: 0 auto;
 height: auto;
 display: flex;
 justify-content: space-between;
 align-items: start;
 gap: 1rem;
 padding: 3rem 0rem;
}
.Plants-lover-left{
  position: relative;
  max-width: 34rem;
  height: auto;
  margin: 0 auto;
}
.lover-bg-img{
    width: 34rem;
    height: 35rem;
    margin-left: -0.9rem;
}

.lover-badge{
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: -7rem;
    right: -6rem;
    animation: badgeAnimation 9s  infinite linear;
}
.lover-badge:hover{
    cursor: pointer;
    animation: none;
}
/* ---------------> Badge animation <----------- */
@keyframes badgeAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.Plants-lover-right{
    padding-top: 2.5rem;
    padding-left: 1rem;
    max-width: 40rem;
    height: auto;
    margin: 0 auto;
}
.Plants-lover-right h1{
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--noto-serif-font);
    color: var(--hading-text-color);
    max-width: 33rem;
}
.Plants-lover-right-list li{
    font-size: 1.3rem;
    font-family: var(--inter-font);
    color: var(--paragraph-text-color);
    /* max-width: 35rem; */
    margin-left: 3rem;
    margin-top: 1.2rem;
}
/* ---------------------->Latest Deal Section Style <------------------------ */
.Latest-Deal-container{
  max-width: 77.5rem;
  height: auto;
  margin: 0 auto;
  padding: 3rem 0rem;
}
.Latest-Deal-container h1{
    font-size: 3.1rem;
    font-weight: bold;
    color: var(--primary-text-color);
    font-family: var(--noto-serif-font);
    text-align: center;

}
.latest-deal-primary{
    color: var(--hading-text-color);
}
.Latest-Deal-container p{
    font-size: 1.3rem;
    font-family: var(--inter-font);
    font-weight: 400;
    color: var(--paragraph-text-color);
    max-width: 55rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
}
.latest-deal-images-container{
    max-width: 77.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 30rem;
    margin: 5rem auto;
    gap: 1.5rem;
}
.deal-box{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 border-radius: 1rem;
}
.div-1 h3,
.div-2 h3{
    font-size: 1.5rem;
    font-family: var(--noto-serif-font);
    color: white;
    font-weight: bold;
}
.div-1 a,
.div-2 a{
    font-size: 1rem;
    color: white;
    font-weight: 600;
    font-family: var(--inter-font);
    margin-top: 0.9rem;
}
.div-3 h3{
    font-size: 2.5rem;
    font-family: var(--noto-serif-font);
    color: white;
    font-weight: bold;
}
.div-3 a{
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
    font-family: var(--inter-font);
    margin-top: 0.7rem;
}
.div-1{
    background-image:linear-gradient(to left,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../assets/deal-bloo.jpeg);
    grid-column: 1/2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.div-2{
    background-image:linear-gradient(to left,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../assets/deal-an.jpeg);
    grid-column: 1/2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.div-3{
    background-image: linear-gradient(to left,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../assets/deal-zab.jpeg);
    grid-row: 1/3;
    grid-column: 2/4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



/* ---------------------->Join Section Style <------------------------ */
.join-container{
    max-width: 90rem;
    height: 25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/news-letter-b.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
}
.join-container h1{
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--noto-serif-font);
    color: white;
}
#join-input{
    outline: none;
    border: none;
    width: 40rem;
    height: 2.3rem;
    color: #000000;
    padding: 1rem;
    font-family: var(--inter-font);
    font-size: 0.8rem;
    margin-top: 1rem;
}
.join-btn{
    padding: 0.7rem 2rem;
    background-color: #E95A08;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: -0.4rem;
    transition: background-color 1s ease-in;
}
.join-btn:hover{
    background-color: black;
}
/* ----------------------> footer Section Style <------------------------ */
.footer-container{
    max-width: 90rem;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;
    background-color: #f9fbff;
}
.footer-part-1 img{
    width: 8rem;
}
.footer-part-1 p{
    max-width: 20rem;
    font-size: 1.4rem;
    font-family: var(--inter-font);
    font-weight: 400;
    color: var(--paragraph-text-color);
    margin-top: 1rem;
}
.footer-container ul li{
    list-style-type: none;
    margin-top: 2rem;

}
.footer-container ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--inter-font);
    color: var(--paragraph-text-color);
    transition: color 1s ease-out;

}
.footer-container ul li a:hover{
    color: violet;
}
.footer-part-4{
    margin-top: 2rem;
}
.footer-part-4 i{
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}
.footer-part-4 i:hover{
    filter: brightness(1.2);
}
.linkedin-icon{
    color: #1983bb;
}

.facebook-icon{
    color: #2187fa;
}
.youtube-icon{
    color: #eb0814;
}

