/* ----------------------> google fonts CDN <------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* ----------------------> Global settings <------------------------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ----------------------> Share style <------------------------ */

/* -----------> Share Variable <-------------------- */
:root{
    --noto-serif-font: "Noto Serif", serif;
    --inter-font: "Inter", sans-serif;
    --paragraph-text-color: #0000007d;
    --primary-text-color: #E95A08;
    --hading-text-color: #000000;
    --button-bg-color: #E95A08;
    --card-text-color: #111111;
}

/* ----------------------> body  style <------------------------ */
body{
background-color: white;
}
/* ----------------------> header Section Style <------------------------ */
header{
    max-width: 90rem;
    height: auto;
    margin: 0 auto;
}

/* ----------------------> navBar  Section Style <------------------------ */
.navBar{
    max-width: 77.5rem;
    height: auto;
    margin: 1.9rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar a{
    text-decoration: none;
}
.navBar a img{
    width: 8rem;
    height: auto;
    object-fit: cover;
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.nav-links{
 list-style-type: none;
}
.nav-Anchor{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--hading-text-color);
    font-family: var(--inter-font);
    
}
.nav-Anchor-gray{
    color: var(--paragraph-text-color);
}
.nav-cart{
    font-weight: 300;
}
.nav-cart i{
    transition: color 0.6s ease-out;
}
.nav-cart i:hover{
    color: var(--primary-text-color);

}
/* ----------------------> Banner  Section Style <------------------------ */
.Banner-hero-container{
    max-width: 77.5rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 10rem;
}
.banner-text-content h1{
    font-size: 4rem;
    font-weight: bold;
    font-family: var(--noto-serif-font);
    color: var(--hading-text-color);
}
.banner-primary-text{
    color: var(--primary-text-color);
}
.banner-description{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--inter-font);
    color: var(--paragraph-text-color);
    max-width: 39rem;
    margin-top: 0.7rem;
}
.banner-image-content img{
    width: 35rem;
    height: 22rem;
}
/* ----------------------> main Section Style <------------------------ */
main{
    max-width: 90rem;
    height: auto;
    margin: 0 auto;
}
/* ----------------------> Our Plants Section Style <------------------------ */
.our-plants-container{
    max-width: 77.5rem;
    margin: 0 auto;
    height: auto;
    padding: 10rem 0rem;
}
.our-plants-title{
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-text-color);
    font-family: var(--noto-serif-font);
    text-align: center;
}
.plants-title-primary{
    color: var(--hading-text-color);
}
.our-plants-description{
    font-size: 1.2rem;
    font-family: var(--inter-font);
    color: var(--paragraph-text-color);
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
}
.card-inner-continer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    gap: 1.2rem;
    padding-top: 2rem;
    place-items: center;
}
.card{
    max-width: 16rem;
    height: auto;
}
.card img{
    width: 16rem;
    height: 20rem;
}
.card h1{
    font-size: 1.3rem;
    font-family: var(--inter-font);
    color: var(--card-text-color);
    font-weight: 400;
    margin-top: 0.7rem;
}
.card h2{
    font-size: 1.3rem;
    font-family: var(--inter-font);
    font-weight: bold;
    color: var(--hading-text-color);
    margin-top: 0.5rem;
}
.card-btn{
    padding: 0.8rem 0rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--inter-font);
    color: white;
    background-color: var(--button-bg-color);
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1.5rem;
    transition:  background-color 1.2s ease-in;
}
.card-btn:hover{
    background-color: #000000;
}
/* ----------------------> Section Style <------------------------ */
/* ----------------------> Section Style <------------------------ */
/* ----------------------> Section Style <------------------------ */
/* ----------------------> Section Style <------------------------ */
/* ----------------------> Section Style <------------------------ */
/* ----------------------> Section Style <------------------------ */
/* ----------------------> Section Style <------------------------ */
